@charset "UTF-8";

.showProfile {
	width: 30%;
	margin-right: 40px;
}

#viewProfile {
	width: 40%;
}

#editProfile {
	width: 40%;
}

.profile {
	padding: 10px 20px;
	border: 2px solid #002f33;
	background-color: #002f33;
	color: white;
	cursor: pointer;
	margin: 10px 10px;
}

.profile:hover {
	background-color: white;
	color: #002f33;
}

#userProfile {
	width: 30%;
	margin-top: 70px;
	border: 1px solid gray;
	text-align: center;
	display: none;
}

.checkAds {
	padding: 10px 10px;
	width: 40%;
}

.userImage {
	width: 65px;
	margin: 10px;
}

.profileEdit {
	margin-top: 70px; width : 70%;
	border: 1px solid gray;
	display: none;
	width: 70%;
}

.edition {
	display: flex;
}

.info {
	width: 50%;
	margin: 5px 10px;
}

hr {
	border: 1px solid gray;
}

#head {
	text-align: center;
	font-size: 20px;
}

.imgContainer {
	display: flex;
	margin: 10px 10px;
	position: relative;
}

#name {
	margin-left: 10px;
	color: black;
}

.profileOption {
	text-align: center;
}

#userName {
	margin-left: 30px;
}

.fa-info-circle {
	margin-top: 15px;
	padding: 5px 10px;
}

#aboutUser {
	
}

#emailInput{
	border: none;
	outline: none;
	box-shadow: none;
}
#numberInput{
	border: none;
	outline: none;
	box-shadow: none;
}
#aboutInput{
	border: none;
	outline: none;
	box-shadow: none;
}
#nameInput{
	border: none;
	outline: none;
	box-shadow: none;
}
.inputContainer {
	width: 80%;
	border: 1px solid #002f33;
	margin: 20px 10px;
	padding: 10px 10px;
	border-radius: 3px;
}

.inputContainer input {
	border: none;
	outline: none;
	box-shadow: none;
}

.userInput {
	background: none;
	width: 100%;
}

.updateBtn {
	margin: 10px 10px;
	padding: 10px 10px;
	border: 1px solid #002f33;
	background-color: white;
}

.editionBtn {
	width: 70%;
	display: flex;
	justify-content: space-between;
	display: flex;
	margin: auto;
}

.aboutInfo {
	display: flex;
	text-align: center;
	width: 50%;
	margin: auto;
	margin-top: -25px;
}

.verfied {
	margin: 5px 10px;
	cursor: pointer;
}

.adsContaier {
	border: 1px solid gray;
	text-align: center;
	display: none;
}

.chekAds {
	width: 100%;
}

.checkAds li {
	padding: 5px 10px;
	margin: 10px 0px;
	cursor: pointer;
}

.checkAds li:hover {
	background-color: lightPink;
}

.adsData {
	display: flex;
}

table tr td img {
	width: 100%;
}

.actionBtn {
	display: flex;
	justify-content: space-between;
	padding: 10px 10px;
}

.actionBtn button {
	margin: 5px 20px;
}

.productImage {
	width: 20%;
}

.container {
	display: none;
}

#myform textarea {
	box-shadow: none;
}